mat-toolbar {
  background: rgb(23, 5, 75);
  min-height: 20%;
  position: absolute;

  .spacer {
    flex: 1 1 auto;
  }

  #header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: xx-large;
    }

    h3 {
      color: #5a6169;
      font-size: large;
    }
  }

  button {
    position: absolute;
    top: 30px;
    right: 20%;
    width: auto;

    mat-icon {
      color: #fff;
    }
  }
}

#brand {
  position: absolute;
  top: 30px;
  left: 20%;
  width: auto;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
  }

  a strong {
    font-weight: 500;
    margin-right: 8px;
  }

  a img {
    height: 33px;
  }
}
