<mat-toolbar>
  <div class="container">
    <div id="brand">
      <a [routerLink]="['/']" rskipLocationChange>
        <img src="assets/lto-logo.png" alt="LTO Network" />
        <strong>LTO</strong> Token swap
      </a>
    </div>

    <button mat-icon-button *ngIf="connected$ | async" (click)="disconnect()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div id="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <nav>
    <a
      target="_blank"
      href="https://etherscan.io/token/0x3db6ba6ab6f95efed1a6e794cad492faaabf294d#code"
      >v1 contract</a
    >
    <a target="_blank" href="#" onclick="return false">v2 contract</a>
    <a target="_blank" href="https://github.com/ltonetwork/lto-erc20-token">
      <img src="assets/github.png" />
    </a>
  </nav>
</footer>
