<div id="header-text">
  <h1>LTO ERC-20 Token Swap</h1>
  <h3>Swap old LTO ERC-20 tokens to new LTO Tokens on Ethereum</h3>
</div>

<div id="home" *ngIf="balance">
  <div id="balance-v1">
    <mat-card>
      <img src="assets/lto-logo.png" alt="LTO Logo" />
      <h1>{{ balance }}</h1>
      <span>LTO ERC-20 <strong>V1</strong></span>
    </mat-card>
  </div>
  <button mat-flat-button color="primary" disabled>Swap <span class="icon"></span></button>
  <div id="balance-v2">
    <mat-card>
      <img src="assets/lto-logo.png" alt="LTO Logo" />
      <h1>COMING SOON</h1>
      <span>LTO ERC-20 <strong>V2</strong></span>
    </mat-card>
  </div>
</div>
