<div id="header-text">
  <h1>LTO ERC-20 Token Swap</h1>
  <h3>Swap old LTO ERC-20 tokens to new LTO Tokens on Ethereum</h3>
</div>

<div id="home" *ngIf="tokens">
  <div id="balance-v1">
    <mat-card>
      <img src="assets/lto-logo.png" alt="LTO Logo" />
      <h1>{{ tokens.v1 }}</h1>
      <span>LTO ERC-20 <strong>V1</strong></span>
    </mat-card>
  </div>
  <button
    mat-flat-button
    color="primary"
    (click)="swap()"
    [disabled]="swapDisabled"
  >
    Swap <span class="icon"></span>
  </button>
  <div id="balance-v2">
    <mat-card>
      <img src="assets/lto-logo.png" alt="LTO Logo" />
      <h1>{{ tokens.v2 }}</h1>
      <span>LTO ERC-20 <strong>V2</strong></span>
    </mat-card>
  </div>
</div>

<section id="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</section>
