@use "~@angular/material" as mat;
@import "~@angular/material/theming";

@include mat.core();

$lto-erc20-primary: mat-palette($mat-deep-purple, 800);
$lto-erc20-accent: mat-palette($mat-pink, A200, A100, A400);
$lto-erc20-warn: mat-palette($mat-red);
$lto-erc20-theme: mat-light-theme(
  $lto-erc20-primary,
  $lto-erc20-accent,
  $lto-erc20-warn
);

@include mat.all-component-themes($lto-erc20-theme);

body,
html {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #5a6169;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
